:root {
  --primary-color: rgba(19, 35, 48, 0.5);
  --secondary-color: #F28C28;
  --tertiary-color: #0d1821;
  --quarternary-color: #fff;
  --box-shadow-glow: 0 0 5px 5px #fff;
  --default-margin: 10px;
  --tile-border: 2px solid ##d6e3f8;
}

/*browser styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}